{% load static %}
<!doctype html>
<html style="height: auto;" lang="en">
{%include 'header.html'%}
<body class="sidebar-mini" style="height: auto;">
    <div class="wrapper">
        {%include 'navizquierdo.html'%}<!--Se incluye el codigo de la barra de navegacion izquierda-->
        <section class="content">
            <div class="card card-solid main-header">
                {%include 'nav.html'%} <!--Se incluye el codigo de la barra de navegacion-->
                <div class="card-header">
                    <h3 class="card-title">Lista de Compras</h3>
                </div>
                <div class="card-body pb-0" >
                    <table class="table table-bordered">
                    <thead>                  
                        <tr>
                        <th style="width: 10px">ID Compra</th>
                        <th style="width: 10px">ID Artículo</th>
                        <th>Nombre</th>
                        <th style="width: 20px">Talla</th>
                        <th style="width: auto">Precio</th>
                        <th>Cantidad</th>
                        <th>Fecha</th>
                       
                        
                        </tr>
                    </thead>
                    <tbody>
                        {%for x in detalle%}
                            <tr>
                                <td>{{x.idVenta}}</td>
                                <td>{{x.idAr}}</td>
                                <td>{{x.nameAr}}</td>
                                <td>{{x.talla | upper}}</td>
                                <td>{{x.precioAr}}</td>
                                
                                <td><span class="badge bg-danger " style="width: 50px; font-size: 18px; height: 25px;">{{x.cantidadA}}</span></td>
                                <td>{{x.fechadetalle}}</td>
                                
                            </tr>
                        {%endfor%}
                    </tbody>
                    </table>
                </div>
                <div class="card-footer">
                    
                    <ul class="pagination pagination-sm m-0 float-right">
                            <li class="page-item"><a class="page-link" href="#">«</a></li>
                            <li class="page-item"><a class="page-link" href="#">1</a></li>
                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item"><a class="page-link" href="#">»</a></li>
                    </ul>
                </div>
            </div>
            {%include 'footer.html'%}
        </section>
    </div>
</body>
</html>



