<!DOCTYPE html>
<html lang="en">
{% include 'header.html'%}
<body>
    
    {% include 'navizquierdo.html' %}
    <div class="card main-header">
            {% include 'nav.html' %}
            <div class="card login-form">
                    <div class="register-box">
                            <div class="card">
                                <div class="card-body register-card-body">
                                <p class="login-box-msg">Registrar un ADMINISTRADOR</p>
                                <form action="{% url 'registraradmin'%}" method="POST">
                                    {% csrf_token %}        
                                    <div class="input-group mb-3">
                                        <input type="text" name="username" class="form-control" autocomplete="off" placeholder="Nombre de usuario">
                                        <div class="input-group-append">
                                            <div class="input-group-text">
                                            <span class="fas fa-user"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="input-group mb-3">
                                        <input type="email" class="form-control" name="email" autocomplete="off" placeholder="Correo Electronico">
                                        <div class="input-group-append">
                                            <div class="input-group-text">
                                            <span class="fas fa-envelope"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="input-group mb-3">
                                    <input type="password" class="form-control" autocomplete="off" name="password" placeholder="Contraseña">
                                    <div class="input-group-append">
                                        <div class="input-group-text">
                                        <span class="fas fa-lock"></span>
                                        </div>
                                    </div>
                                    </div>
                                    <div class="input-group mb-3">
                                    <input type="password" class="form-control" autocomplete="off" placeholder="Confirmar Contraseña">
                                    <div class="input-group-append">
                                        <div class="input-group-text">
                                        <span class="fas fa-lock"></span>
                                        </div>
                                    </div>
                                    </div>
                                    <div class="row">
                                    <div class="col-4">
                                        <button type="submit" class="btn btn-primary btn-block">Registrar</button>
                                    </div>
                                    </div>
                                </form>
                    
                                </div>
                            </div>
                        </div>
                    
                    
                        
                    
               
            </div>
        </div>

    
    {%include 'footer.html'%}
</body>
</html>